<% content_for :titulo do %>
  Oncolab | Tecnología de Diagnóstico
<% end %>

<!-- Slider-->
<div class="slider">
  <ul class="slides">
    <li>
      <img src="http://s2.subirimagenes.com/otros/previo/thump_9656654tecmedica2.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>Tecnología Médica de inferencia!</h3>
        <h5 class="light grey-text text-lighten-3">Sistema de predicción.</h5>
      </div>
    </li>
    <li>
      <img src="http://s2.subirimagenes.com/otros/previo/thump_9656655tecmedica4.jpg"> <!-- random image -->
      <div class="caption right-align">
        <h3>Sistema con Tecnología Inteligente!</h3>
        <h5 class="light grey-text text-lighten-3">Comienza.</h5>
      </div>
    </li>
    <li>
      <img src="http://s2.subirimagenes.com/otros/previo/thump_9656656tecmedica5.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>Pronosticos de formas mas exactas!</h3>
        <h5 class="light grey-text text-lighten-3">Sistema Inferencias en Linea.</h5>
      </div>
    </li>
  </ul>
</div>
<!-- SLIDER -->

<!--TEAM -->
<div class="section no-pad-bot" id="team">
  <div class="container">
    <div><h4>Nuestro Equipo</h4></div><br>

    <div class="row">
      <div class="col s12 l4">
        <div class="image-container">
          <img class="circle responsive-img" src="http://s2.subirimagenes.com/imagen/previo/thump_9656659hector.png">
          <h5 class="center">Hector Saavedra</h5><p>PMO</p>
          <p class="light">Full-Stack Developer</p>
          <br>
        </div></div>

      <div class="col s12 l4">
        <div class="image-container">
          <img class="circle responsive-img" src="http://s2.subirimagenes.com/otros/previo/thump_9656702abraham.jpg">
          <h5 class="center">Abraham Almarza</h5><p>CSO</p>
          <</pclass="light">Front-End And Web Security</p>
          <br>
        </div></div>

      <div class="col s12 l4">
        <div class="image-container">
          <img class="circle responsive-img" src="http://s2.subirimagenes.com/otros/previo/thump_9656703aldo.jpg">
          <h5 class="center">Aldo Marchant</h5></h5><p>QA</p>
          <p class="light">Back-End Developer.</p>
        </div>
      </div>
    </div>

  </div></div>
<!--/TEAM -->


<!-- TECNOLOGIAS -->
<div class="section no-pad-bot" id="tec">
  <div class="container">
    <div><h4>Tecnologías</h4></div><br><br>
    <img class="responsive-img" src="https://www.carnaghan.com/wp-content/uploads/2016/08/postgresql-logo.png" width="300px" height="150px" hspace="20">
    <img class="responsive-img" src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Ruby_on_Rails.svg/791px-Ruby_on_Rails.svg.png" width="130px" height="250px" hspace="20">
    <img class="responsive-img" src="http://crained.com/wp-content/uploads/2014/07/weka-logo.jpg" width="130px" height="250px" hspace="20">
    <img class="responsive-img" src="http://www.saffroncorporation.com.bd/upload/tect/Ruby.png" width="150px" height="100px" hspace="20">
    <img class="responsive-img" src="https://www.drupal.org/files/project-images/logo_123.png" width="250px" height="190px" hspace="20">
    <img class="responsive-img" src="https://www.kitware.com/blog/files/6_1529600465.png" width="300px" height="100px">
    <img class="responsive-img" src="https://www.r-project.org/logo/Rlogo.png" width="150px" height="60px">
  </div></div><br><br>
<!--/TECNOLOGIAS -->

<!--QUE HACEMOS -->
<div class="section no-pad-bot">
  <div class="container">
    <div><h4>Como funciona Oncolab</h4></div><br>
    <p>En tan solo tres pasos conóce tus diagnóstico!</p>
  </div></div><br><br>

