
<footer class="page-footer red darken-4">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Oncalab USS</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam qui tempora quod quam, vitae aspernatur quae ab tempore dignissimos fuga asperiores accusamus, illo culpa, voluptate, inventore! Animi possimus a quae!</p>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Sobre Oncalab</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus est saepe nihil labore odio ullam voluptatum soluta, voluptate dolore molestiae! Facere pariatur sed repellendus magni excepturi nulla quos eius rem.</p>
      </div>
      <div class="col l4 s12" style="overflow: hidden;">
        <h5 class="white-text">Contactanos</h5>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Oncalab, All rights reserved.
      <a class="grey-text text-lighten-4 right" href="https://github.com/Dogfalo/materialize/blob/master/LICENSE">Politicas</a>
    </div>
  </div>
</footer>